/*
HTTP Host: static.ak.fbcdn.net
Generated: September 27th 2010 11:00:49 AM PDT
Machine: 10.138.17.183
*/

.LogoutPage_MobileZeroMessageContainer{padding:20px 40px 20px 6px;color:#203360}
.LogoutPage_MobileZeroMessageContainer a{color:#203360}
.LogoutPage_MobileZeroMessageContainer a:hover{text-decoration:none}
.LogoutPage_MobileZeroMessage{font-size:25px;margin-bottom:5px}
.LogoutPage_MobileZeroSubmessage{font-size:16px}
.LogoutPage_MobileZeroImage{float:left}
.LogoutPage_MobileZeroPromoContent{color:#203360;font-size:13px;padding:0 90px 0 15px}

#bootloader_css_mobile_zero_logout_css { height: 42px; }
